# Prerequisites
*.d


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

*.suo
*.user
*.vcxproj.user

*.VC.db
*.VC.opendb

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Ignorar carpeta de Visual Studio
.vs/
**/Debug/
**/Release/
